page-actualizar-datos {
    .bg-image{
        background-image: url('../assets/imgs/bggnr.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

    .table {
        border: 1px solid #ffffff;
    }

    .card {
        color:aliceblue;
    }

}
